.flex-nav-container {
  float: right;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.flex-nav-container ul,
.flex-nav-container ol {
  list-style: none;
}

.flexslider .slides li,
.flexslider .flex-control-nav li,
.flexslider .flex-direction-nav li {
  list-style: none;
  list-style-image: none;
}

.flexslider ul.slides,
.flex-nav-container ol.flex-control-nav,
.flex-nav-container ul.flex-direction-nav,
.flexslider ul.slides li img {
  padding: 0px;
  margin: 0px;
}